.row>.col, .row>[class*=col-]{
    width:auto;
}
.elevation-demo{
    margin:auto;
    height: 50px;
    width: 50px;
}
.col .menu_div{
    padding: var(--f7-card-header-padding-vertical) var(--f7-card-header-padding-horizontal);
}
.row{
    justify-content: space-around;
}
.demo-swiper{
    height: 30%;
}
.navbar~* .page:not(.no-navbar) .page-content, .navbar~.page-content, .navbar~.page:not(.no-navbar) .page-content, .navbar~:not(.page) .page-content{
    padding-top: 0;
}
.swiper-container{
    margin-top: 56px;
}
.fab[class*="-top"]{
    top:0;
}
.fab[class*=fab-right]{
    right: 0;
}
.md .navbar .right{
    position: fixed;
}
#fab-right-top-a{
    background-color: rgba(158, 158, 158, 0);
    box-shadow:none;
}
#fab-right-top-a>i{
    color: var(--f7-navbar-link-color,var(--f7-bars-link-color,var(--f7-theme-color)));
}
.ios .navbar .left a+a, .ios .navbar .right a+a{
    margin-left: 0;
}
.ios .toolbar-bottom-ios .tab-link-highlight, .md .toolbar-bottom-md .tab-link-highlight, .toolbar-bottom .tab-link-highlight{
    position: absolute;
}
.toast-text{
    text-align: center;
}
.userHead{
    width: 100px;
    transition: transform 2s;
}
.userHead:hover {
    transform: rotate(360deg);
}
@media (max-height:535px){
    #buttom_f{
        display: none;
    }
}

#buttom_f{
    position: absolute;
    bottom: 0;
    background: none;
    text-align: center;
    z-index: 13001;
}
#buttom_f:after{
    background: none;
}
#buttom_f>a{
    display: inline-flex;
    width: 20%;
    background: white;
    border-top-left-radius: 1000%;
    border-top-right-radius: 1000%;
}
#buttom_list_li li{
    background: white;
    border-radius: 10px;
}
#buttom_block{
    display:none;
    text-align: center;
    position: absolute;
    bottom: -calc(var(--f7-toolbar-height) + var(--f7-safe-area-bottom));
    z-index: 13000;
    width: 100%;
}
.popover-backdrop.backdrop-in{
    z-index: 1;
}
.toast.toast-bottom.modal-in{
}
.toast-content{
}
.toast-text{
    text-align: center;
    margin: auto;
}
.item-media>.icon{
    width: 24px;
    height: 24px;
}
#icon_logout{
    background: url(/baiyajin/file/ICON/logout.png);
}
#icon_change-password{
    background: url(/baiyajin/file/ICON/change-password.png);
}
#icon_Apply_to_become_an_administrator{
    background: url(/baiyajin/file/ICON/Apply_to_become_an_administrator.png);
}
#block-title-user-name,#item-media-user-head{
    text-align: center;
}
#item-media-user-head{
     width: 100px;
     height: 100px;
     border-radius: 50%;
    transition: transform 2s;
}

#tab-1 .row > .col{
    margin-bottom: 30px;
}

.dialog-title{
    text-align: center;
}

/*轮播图片下面的点的颜色*/
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #4aafe3;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 40%;

}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
    bottom: 30px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}