<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title v-text="page_title"></title>
    <link rel="stylesheet" href="/static/Framework7/css/framework7.bundle.min.css">
    <link rel="stylesheet" href="/static/Framework7/css/app.css?v=1.0">
    <link rel="apple-touch-icon" href="/static/image/cherry.jpg">
    <link rel="icon" href="/static/image/cherry.jpg">

    <script src="/static/Vue/vue.js"></script>

    <style>
        .toast{}
        .toast-bottom{}
        .modal-in{}
    </style>

</head>
<body>



<div id="app">


    <div class="statusbar" style="display: none">
        <div v-text="page_title" style="left: 45%;position: relative;" class="no_transparent"></div>
    </div>

    <div class="panel panel-left panel-reveal">
        <div class="page">
            <div class="page-content">

            </div>
        </div>
    </div>


    <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
        <div class="page">

            <div class="navbar">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a href="../Index.html" class="link back external">
                            <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div style="text-align: center;width: 60%;" class="title no_transparent" v-text="page_title"></div>
                </div>
            </div>



            <div class="page-content">




                <div class="content" >

                    <div class="list no-hairlines-md">
                        <ul>
                            <li class="item-content item-input item-input-outline">
                                <div class="item-media">
                                    <i class="icon demo-list-icon"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title item-floating-label">Name</div>
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Your name" class="">
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="btn_submit block">
                        <p class="row">
                            <button class="btn btn-success btn_upImg col button button-large button-raised button-fill" @click="triggerInput">选择音乐文件</button>
                            <button id="save" class="btn btn-success col button button-large button-raised button-fill" @click="uploadFile()">开始上传</button>
                        </p>
                    </div>


                </div>



            </div>
        </div>
    </div>

    <!--提示-->
    <div :class="['toast','toast-bottom',toast_text_flag?'modal-in':'']">
        <div class="toast-content">
            <div class="toast-text" v-text="toast_text" style="text-align: center;width: 100%;"></div>
        </div>
    </div>

</div>


<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/Framework7/js/framework7.bundle.min.js"></script>

<script type="text/javascript" src="/static/Framework7/js/routes.js"></script>
<script type="text/javascript" src="/static/Framework7/js/app.js"></script>
<script type="text/javascript" src="/static/js/BYJUtil.js?v=1.0"></script>


<script>



    //    创建实例
    var vm = new Vue({
        el:'#app',
        data:{
            page_title:"区域",
            toast_text:"",//提示
            toast_text_flag:false//提示
        },
        methods:{
        }
    });


    //创建全局组件
    Vue.component('data-ul',tem);





</script>





</body>
</html>
