<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>system</title>
    <link rel="stylesheet" href="/static/Framework7/css/framework7.bundle.min.css">
    <link rel="stylesheet" href="/static/Framework7/css/app.css?v=1.0">
    <link rel="apple-touch-icon" href="/static/image/cherry.jpg">
    <link rel="icon" href="/static/image/cherry.jpg">
    <link rel="stylesheet" href="/static/css/functionList.css?v=1.0">


</head>
<body>
<div id="app">

    <div class="statusbar"></div>

    <div class="panel panel-left panel-reveal">
        <div class="page">
            <div class="page-content">
                <div class="block-title" id="block-title-user-name"></div>
                <div class="block" style="margin-bottom: 180px;margin-top: 80px;">

                    <div class="fab fab-center-center item-media">
                        <a href="#" id="item-media-user-head">
                            <i class="icon material-icons md-only" style="color:white;opacity: 0">add</i>
                            <i class="icon material-icons md-only" style="color:white">close</i>
                        </a>
                        <div class="fab-buttons fab-buttons-center">
                            <a href="" style="display: none;"></a>
                            <a href="pages/personal_information.html" class="external"
                               style="background:url(/baiyajin/file/ICON/personal_information.png);background-size:100% auto;background-repeat:no-repeat;"></a>
                            <a href="" style="display: none;"></a>
                            <a href="pages/c.html" class="external"
                               style="background:url(/baiyajin/file/ICON/alert_head.png);background-size:100% auto;background-repeat:no-repeat;"></a>
                        </div>
                    </div>

                </div>
                <div class="block-title">更多功能</div>

                <div class="list links-list">
                    <ul>
                        <li>
                            <a class="item-content item-link panel-close" onclick="logout()">
                                <div class="item-media">
                                    <i class="icon" id="icon_logout"
                                       style="background-size: 100% auto;background-position: center;background-repeat: no-repeat;"></i>
                                </div>
                                <div class="item-inner" id="item-inner-logout" style="position: static">
                                    <div class="item-title">注销</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="item-content item-link panel-close" onclick="show_popover_backdrop3()">
                                <div class="item-media">
                                    <i class="icon" id="icon_change-password"
                                       style="background-size: 100% auto;background-position: center;background-repeat: no-repeat;"></i>
                                </div>
                                <div class="item-inner" id="item-inner-change-password" style="position: static">
                                    <div class="item-title">修改密码</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item-content item-link" onclick="TestJWT()">
                                <div class="item-media">
                                    <i class="icon"
                                       style="background-size: 100% auto;background-position: center;background-repeat: no-repeat;"></i>
                                </div>
                                <div class="item-inner" style="position: static">
                                    <div class="item-title">测试Token</div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800"
         data-url="/">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner sliding">
                    <!--左面板链接-->
                    <div class="left">
                        <a href="#" class="link icon-only panel-open" data-panel="left">
                            <i class="icon f7-icons ios-only">menu</i>
                            <i class="icon material-icons md-only">menu</i>
                        </a>
                    </div>
                    <!--右面板链接-->
                    <div class="right fab fab-right-top">
                        <a href="#" class="" id="fab-right-top-a">

                        </a>
                        <div class="fab-buttons fab-buttons-bottom">
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">



                <!--修改密码-->
                <div class="dialog dialog-buttons-2" style="display: none;">
                    <div class="dialog-inner">
                        <div class="dialog-title">修改密码</div>

                        <div class="dialog-input-field dialog-input-double input">
                            <input type="text" name="dialog-username" id='theOriginalName' placeholder='请输入原名字'
                                   class="dialog-input">
                        </div>
                        <div class="dialog-input-field dialog-input-double input">
                            <input type="text" name="dialog-username" id='originalPassword' placeholder='请输入原密码'
                                   class="dialog-input">
                        </div>
                        <div class="dialog-input-field dialog-input-double input">
                            <input type="password" name="dialog-password" id='newPassword' placeholder='请输入新密码'
                                   class="dialog-input">
                        </div>
                    </div>
                    <div class="dialog-buttons">
                        <span class="dialog-button"
                              onclick="cancel_dialog('.popover-backdrop.alert_password')">Cancel</span>
                        <span class="dialog-button dialog-button-bold" onclick="alterPassword(this)">OK</span>
                    </div>
                </div>
                <!--点修改密码弹出的遮罩-->
                <div class="popover-backdrop alert_password"></div>
            </div>
        </div>
    </div>


    <!--登录屏-->
    <div class="login-screen-content login-screen" id="login-screen" style="display: none;">
        <div class="login-screen-title"></div>
        <!--头像-->
        <div class="block" style="text-align: center;">
            <img class="userHead" src="">
        </div>
        <form>
            <div class="list">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">用户名/手机号</div>
                            <div class="item-input-wrap">
                                <input type="text" name="username" id="userName" placeholder="请输手机号" class="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">密码</div>
                            <div class="item-input-wrap">
                                <input type="password" name="password" id="password" placeholder="请输入密码" class="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a style="margin: 0 20px;--f7-button-box-shadow: var(--f7-button-raised-box-shadow);box-shadow: var(--f7-button-box-shadow);"
                           href="#" class="list-button open-toast-bottom button" onclick="checkLogin2()">登录</a></li>
                </ul>
            </div>
        </form>


        <div id="buttom_f" class="toolbar toolbar-bottom">
            <a href="#" class="link icon-only" onclick="show_popover_backdrop()">
                <i class="icon f7-icons ios-only">menu</i>
                <i class="icon material-icons md-only">menu</i>
            </a>
        </div>

        <!--底部上划功能-->
        <div class="block" id="buttom_block" style="max-width: 100%;">
            <div class="popover-inner">
                <div class="list" id="buttom_list_li">
                    <ul>
                        <li><a href="#" class="list-button popover-close" onclick="show_popover_backdrop2()">账号注册</a>
                        </li>
                        <li><a href="#" class="list-button popover-close"
                               onclick="$('#userName').val('白亚金');$('#password').val('123');checkLogin2();">演示账号登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--账号注册-->
        <div class="dialog dialog-buttons-2" style="display: none;">
            <div class="dialog-inner">
                <div class="dialog-title">账号注册</div>

                <div class="dialog-input-field dialog-input-double input">
                    <input id="regedit_userName" type="text" name="dialog-username" placeholder="请输入用户名"
                           class="dialog-input">
                </div>
                <div class="dialog-input-field dialog-input-double input">
                    <input id="regedit_userPhone" type="text" name="dialog-username" placeholder="请输入手机号"
                           class="dialog-input">
                </div>
                <div class="dialog-input-field dialog-input-double input">
                    <input id="regedit_password" type="text" name="dialog-password" placeholder="请输入密码"
                           class="dialog-input">
                </div>
            </div>
            <div class="dialog-buttons">
                <span class="dialog-button" onclick="cancel_dialog('.popover-backdrop.regedit_account')">取消</span>
                <span class="dialog-button dialog-button-bold" onclick="regeditAccount(this)">OK</span>
            </div>
        </div>

        <div class="popover-backdrop regedit_account"></div>

    </div>


    <a style="display: none" href="#" class="button button-raised button-large button-fill login-screen-open"
       id="login-screen-open" data-login-screen=".login-screen">登录屏</a>

</div>


<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/Framework7/js/framework7.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/BYJUtil.js?v=1.0"></script>

<script type="text/javascript" src="/static/Framework7/js/routes.js"></script>
<script type="text/javascript" src="/static/Framework7/js/app.js"></script>
<!--登录-->
<script type="text/javascript" src="login.js?v=1.0"></script>


</body>
</html>
